.pagination-component{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__pages{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
    }
    &__page{
        font-size: 1.2rem;
        padding: 10px;
        width: 2rem;
        cursor: pointer;
        transition: .3s;
        color: grey;
        vertical-align: middle;
        &--active {
            color: black;
        }
        &:hover{
            color:orange;
        }
    }
    &__switch-pages-button{
        padding: 10px;
        padding-top: 15px;
        transition: .3s;
        &:hover{
            opacity: .7;
        }
        &:active{
            opacity: .9;
        }
    }
}
.none{
    display:none;
}