@import '../../scss/variables.scss';

.pagination-component{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__pages{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-start;
    }
    &__page{
        font-size: 1rem;
        padding: 10px;
        width: 2rem;
        cursor: pointer;
        transition: $transition;
        color: $gray-500;
        vertical-align: middle;
        @media (min-width: 768px) {
            font-size: 1.2rem;
        }
        &--active {
            color: $black;
        }
        &:hover{
            color:$orange;
        }
    }
    &__switch-pages-button{
        padding: 15px 5px 10px 5px;
        transition: $transition;
        @media (min-width: 768px) {
            padding: 10px;
        }
        &:hover{
            opacity: .7;
        }
        &:active{
            opacity: .9;
        }
    }
}
.none{
    display:none;
}