html {
    box-sizing: border-box;
  }

.container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: auto;
      margin-right: auto;
  }
  
  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    &:focus{
      outline: none;
  }
 }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1326px) {
    .container {
      max-width: 1200px;
    }
  }