@import '../scss/variables.scss';

.Icon {
    height: 1 rem;
    width: 1rem;
}
.food-icon {
    height: 100px;
    &.previous{
        height: 50px;
        opacity: .7;
        transition: $transition;
        &:hover{
            opacity: 1;
        }
    }
    g .outline{
        transition: $transition;
    }
}