.surprise-me-component{
    cursor: pointer;
    transition: .5s;
    opacity: .7;
    margin: 0 25px;
    &__message{
        transition: .5s;
        transition-delay: 0s;
        opacity: 0;
    }
    &:hover{
        opacity:1;
        .surprise-me-component__message{
            opacity:1; 
            transition-delay: .3s;
        }
    }
}