@import '../../scss/variables.scss';

.recipe-of-meal{
    min-height: 200px;
    &__description{
        padding: 50px 0;
    }
    &__preloader{
        text-align: center;
        min-height: 200px;
        padding: 50px;
    }
    &__img{
        width: 100%;
        grid-area: item-1;
        border-radius: 10px;
        border: 2px $white solid;
        @media (min-width: 768px) {
            width: auto;
            height: 300px;
        }
    }
    &__meal-container{
        border-radius: 10px;
    }
    
    &__figure{
        padding: 30px;
        border-radius: 10px;
        background: $dark-50;
        display: grid;
        grid-template-columns:  repeat(1, 100%);
        grid-template-rows: repeat(2, auto);
        grid-gap:8px;
        grid-template-areas: 
        "item-1"
        "item-2";
        @media (min-width: 768px) {
            grid-template-columns:  repeat(3, 1fr);
            grid-template-rows: auto;
            grid-gap: 10px;
            grid-template-areas: 
            "item-1 item-2 item-2";
        }
    }
    &__figcaption{
        grid-area: item-2;
        position: relative;
        color: $white;
        &-name{
            font-size: 3rem; 
            border-bottom: 1px solid $gray-400;
            padding-bottom: 20px;
        }
        &-tags{
            font-size: 2rem;
        }
    }
    &__ingredients{
        padding: 30px 0;
        display: grid;
        // grid-template-rows: repeat(10,auto);
        grid-template-columns:  repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 8px;
        @media (min-width: 768px) {
            grid-template-columns:  repeat(2, 1fr);
        }
    }
    &__ingredient{
        padding:  10px;
        background: $gray-200;
        border-radius: 10px;
        transition: $transition;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover{
            box-shadow: 0 10px 20px 0 $dark-50, 0 2px 5px 0 $dark-15;
        }
        &-description{ 
            flex-basis: 50%;
            text-align: left;
            font-family: $Roboto;
            font-size: 1.2rem;
            &:last-child{
            text-align: right;
            flex-basis: 30%;
            }
            &::first-letter{
                text-transform: uppercase;
            }
        }
        &-img{
            height: 50px;
            &--big{
                width: 40vh;
                height: 40vh;
                @media (min-width: 768px) {
                    width: 60vh;
                    height: 60vh;
                }
            }
            &-preloader{
                width: 40vh;
                height: 40vh;
                padding-top: 100px;
                @media (min-width: 768px) {
                    width: 60vh;
                    height: 60vh;
                }
            }
        }
        
    }
    .none{
        display: none;
    }
    &__content-modal-window{
        height: 100%;
        &-description{
            text-align: center;
            font-family: $Roboto;
            font-size: 1.2rem;
        }
    }
    &__video{
        margin: 0 30px 30px 0;
        width: 100%;
        @media (min-width: 768px) {
            float: left;
            width: 50%;
        }
        iframe{
            width: 100%;
            height: 315px;   
        }
    }
    &__article{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        padding: 30px ;
        font-family: $Roboto;
        line-height: 1.5rem;
        background: $gray-200;
        border-radius: 10px;
        p{
            text-indent: 2rem
        }
    }
    &__switch-ingredients-button{
        padding: 10px;
        padding-top: 15px;
        transition: $transition;
        &:hover{
            opacity: .7;
        }
        &:active{
            opacity: .9;
        }
    }
}

