@import '../../scss/variables.scss';
.title{
    text-align: center;
    font-size: 2rem;
    color: $gray-500;
    padding: 50px;
    min-height: 200px;
    &--dark{
        color: $white;
    }
    &__small{
        font-size: 1.5rem;
    }
    @media (min-width: 768px){
        font-size: 4rem;
        &__small{
            font-size: 3rem;
        }        
    }
}