@import '../../scss/variables.scss';

.button-rendom-recipe {
    text-align: center;
    width: 100%;
    height: 100%;
    &__btn{
        font-size: 2rem;
        position: relative;
        font-family: $Roboto;
        transition: background-color $transition;
        height: 100%;
        width: 100%;
        background: $tomato;
        border: 4px $red solid;
            &:hover {
                background-color: $light-red;
            }
            &:active {
                background: $light-red;
                -webkit-box-shadow: inset 0px 0px 17px 5px $black-70;
                -moz-box-shadow: inset 0px 0px 17px 5px $black-70;
                box-shadow: inset 0px 0px 17px 5px $black-70;
            }
            &::before {
                --size: 0;
                content: '';
                position: absolute;
                left: var(--x);
                top: var(--y);
                width: var(--size);
                height: var(--size);
                background: radial-gradient(circle closest-side, $aubergine, transparent);
                transform: translate(-50%, -50%);
                transition: width $transition ease, height .2s ease;
            }
            &:hover::before {
                --size: 400px;
            }
    }
}