@import '../../scss/variables.scss';

.search-tile-component{
    &__front{
        padding: 15px;
        display:flex;
        justify-content:space-between;
      }
      &__button{
        padding: 10px;
        transition: $transition;
        &--close{
            &:hover{
                opacity: .7;
            }
            &:active{
                opacity: .9;
            }
        }
    }
    &__wrapper{
        height:0px;
        transition: $transition;
        &--small-height{
          height: 140px;
        }
        &--big-height{
          height:auto;
        }
      }
      &__preloader{
        text-align: center;
        padding-bottom: 20px;
        height: 120px;
      }
      &__no-result{
        text-align: center;
        margin-bottom: 20px;
        height: 120px;
        span {
          display: inline-block;
          height: 100%;
          width: 30%;
          background: url('../../img/empty-plate.gif') no-repeat 50% 50% / 80%;
          line-height: 120px;
          vertical-align: baseline;
          @media (min-width: 768px) {
            background: url('../../img/empty-plate.gif') no-repeat 50% 50% / 50%;
          }
        }
      }
      &__error{
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.2rem;
        height: 120px;
        font-family: $Roboto;
        span {
          display: inline-block;
          height: 100%;
          width: 30%;
          line-height: 120px;
          vertical-align: baseline;
        }
      }
}