.search-btn-component {
    display: flex;
    justify-content: flex-end;
    &__surprise{
        padding: 15px 15px 10px 0;
    }
    &__button{
        padding: 15px 0 10px 0;
        transition: .3s;
        color: white;
        opacity: .7;
        
        &--open{
            &:hover{
                opacity: 1;
            }
            &:active{
                opacity: .9;
            }
        }
        &-title{
            display: inline-block;
        }
        &-icon{
            display: inline-block;
            margin: 10px 25px 10px 10px;
        }
    }
}