@import '../../scss/variables.scss';

.header {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    &__main-title {
        font-family: $Roboto;
        font-size: 4rem;
        color: $white;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 8rem;
            &--small{
                font-size: 6rem;
            }
          }
    }
    &__second-title {
        font-family: $Roboto;
        font-size: 6rem;
        color: $white;
        text-align: center;
    }
    &__small{
        padding-bottom: 50px;
    }
    &__bg{
    -webkit-filter: brightness(50%);
    transition: $transition-background;
    height: 550px;
    width: 100%;
    z-index: -1;
    position: absolute;
    top:0;
        &-1{
            background: url('../../img/backgrounds/bg-1.jpg') 50% 50%/ cover;
        }   
        &-2{
            background: url('../../img/backgrounds/bg-2.jpg') 50% 50%/ cover;
        }   
        &-3{
            background: url('../../img/backgrounds/bg-3.jpg') 50% 50%/ cover;
        }   
    }

    &__title {
        margin: 20px;
    }
   &__menu{
       display: none;
        @media (min-width:768px) {
            display: block;
        }
   }
   &__mobile-menu{
        display: block;
        @media (min-width:768px) {
            display: none;
        }
   }
}