@import '../App';

.search-component {
    position: absolute;
    z-index: 100;
    background-color:lightblue;
    top: 0;
    right: 0;
    left: 0;
    &__button{
      padding: 10px;
      transition: .3s;
      &--close{
          &:hover{
              opacity: .7;
          }
          &:active{
              opacity: .9;
          }
      }
  }
}
.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
  }